################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Generator/bin/Debug
/Generator/obj/Debug
/SignalProcessingForms/bin/Debug
/SignalProcessingForms/obj/Debug
